{% extends "base.html" %}
{% block content %}
    <div>
        <header>
            <h1><strong>About me</strong></h1>
            <small>This is what I do.</small>
        </header>
    
        <section>
            <div>
                <p>xxx xxx</p>
                <p>xxx xxx</p>
                <p>xxx xxx</p>
                <p>xxx xxx</p>                                        
            </div>                                             
        </section>           
    </div>   
{% endblock %}