{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <header>
            <h1><strong>Contact</strong></h1>
            <small>Have questions? Do not hesitate!</small>
        </header>
    
        <section>
            <div>
                <p>Want to contact me?</p>
                <p>Please, send e-mail directly to <a href="mailto:ondra.pavlovic@gmail.com">ondra.pavlovic@gmail.com</a></p>
                <p>OR</p>
                <p>you can find me here:</p>
                <p><a href="https://www.linkedin.com/in/OndraPavlovic">LinkedIn</a></p>
                <p><a href="https://github.com/OndraPavlovic">GitHub</a></p>
              
            </div>
        </section>           
    </div>   
{% endblock %}