{% extends "base.html" %}
{% block content %}
    <div>
        <header>
            <h1><strong>Contact</strong></h1>
            <small>Have questions? Do not hesitate!</small>
        </header>
    
        <section>
            <div>
                <p>YYYYY</p>
                <p>YYYYY</p>
                <p>YYYYY</p>
                <p>YYYYY</p>
                <p>YYYYY</p>                         
            </div>                                             
        </section>           
    </div>   
{% endblock %}